# Requirements for HA SSJs on python
numpy==1.26.4 #not >=2.2.1 for numba>=0.60.0 to hold, necessary for the ssj toolkit
ipykernel>=6.29.5
pandas>=2.2.3
seaborn>=0.13.2
matplotlib>=3.10.0
scikit-learn>=1.6.0
scipy>=1.15.0
sequence-jacobian>=1.0.0
numba>=0.60.0